<ion-view title="eClinic">
        
  <ion-content class="has-header">
      
    <h1>Usuário</h1>
    
      <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="José">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">CPF</span>
        <input type="number" placeholder="000.000.000-00">
      </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Convênio</span>
        <input type="text" placeholder="Porto Seguro">
      </label>
          <label class="item item-input item-stacked-label">
        <span class="input-label">Nº Carteirinha</span>
        <input type="number" placeholder="000000000000">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="jose@suhr.com">
      </label>
          
          
    </div>
      
 
    <div class="item item-button-center">
        
      <button class="button button-positive">
        Salvar
      </button>
        
    </div>

  </ion-content>
    
</ion-view>