<ion-view title="eClinic">
    
  <ion-content class="has-header">
      
    <h1>Esqueci minha senha</h1>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="jose@suhr.com">
      </label>
          
          
    </div>
      
 
    <div class="item item-button-center">
        
      <button class="button button-positive">
        Salvar
      </button>
        
    </div>

  </ion-content>
    
</ion-view>