<ion-view title="eClinic">
        
  <ion-content class="has-header">
      
    <h1>Filtros Avançados</h1>
    
      <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Especialidade:</span>
        <input type="text" placeholder="Pediatria">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Data:</span>
        <input type="date" placeholder="dd/mm/aaaa">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Convênio:</span>
        <input type="text" placeholder="Porto Seguro">
      </label>
          
      <label class="item item-input item-stacked-label"> 
      <span class="input-label">Período:</span>
      <ul class="list">
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Manhã
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Tarde
          </li>
          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox">
             </label>
             Noite
          </li>
      </ul>
     </label>
          
    </div>
      
 
    <div class="item item-button-center">
        
      <button class="button button-positive">
        Pesquisar
      </button>
        
    </div>

  </ion-content>
    
</ion-view>