<ion-view title="eClinic">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button nav-clear menu-close menu-toggle="right" class="button button-icon icon ion-log-out" ng-click="sair()"></button>
  </ion-nav-buttons>    
    
  <ion-content class="has-header">
    <h3>Agenda - Clinica Fare</h1>
      
      
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
      
    <div class="list">

      <div class="item item-divider">
        Terça - 28/10/2014
      </div>

      <a class="item" href="#">
        08:00
      </a>
        
      <a class="item" href="#">
        09:00
      </a>
        
    <div class="item item-divider">
        Quarta - 29/10/2014
      </div>

      <a class="item" href="#">
        12:00
      </a>
        
      <a class="item" href="#">
        14:00
      </a>

    </div>
      
    <button class="button button-block button-stable">
      Agendar
    </button>
  </ion-content>
</ion-view>