<ion-view title="eClinic">
<form>    
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    
  <ion-nav-buttons side="right">
    <button nav-clear menu-close menu-toggle="right" class="button button-icon icon ion-log-out" ng-click="sair()"></button>
  </ion-nav-buttons>
    
  <ion-content class="has-header">
    <!-- <h1>Pesquisar</h1> -->
      
    <div class="button-bar">
      <a class="button" ng-click="faixa('a')">A-D</a>
      <a class="button" ng-click="faixa('e')">E-H</a>
      <a class="button" ng-click="faixa('i')">I-N</a>
      <a class="button" ng-click="faixa('o')">O-U</a>
    </div>
      
    <div class="list">
        
        <ion-radio ng-repeat="esp in especialidadesMedicas" ng-model="especialidadeTypes.defaultId" value="{{esp.esp_id}}">
            {{esp.esp_nome}}
        </ion-radio>
        
        <!-- <div class="item">
          <pre ng-bind="consultorios | json"></pre> 
        </div> -->
        
    </div>

    
  </ion-content>
    
    <div class="bar bar-footer bar-positive">
        <button class="button icon-left ion-ios7-settings button-clear"></button>
        <button class="button icon-right ion-ios7-search button-clear" ng-click="pesquisar()"></button>
    </div>
</form>  
</ion-view>
